body{
    background-color: 	#2f3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fundonav{
    background-color: 	#393852;
    font-weight: bolder;
}

h1,h2,h3,h4,h5{
    font-size: 2em;
    color: #fcd477;
    font-weight: bolder;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 8%;
}


p,a,li{
    color: #f8f8f8;
    font-weight: bold;
    font-size: 1em;
}

.icone{
    border-radius: 200px;
    transition: transform .3s;
    margin: 0 auto;
}
  
.icone:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.card{
    margin-top: 10%;
    margin-bottom: 1%;
    background-color: 	#393852;

}


.card-body{
    margin-top: 5%;
    margin-bottom: 5%;
}


.rodape{
    color: 	#fcd477;
    font-weight: bolder;
    font-size: 1.5em;
    background-color:	#393852;
    text-align: center;
    padding: 1%;
    margin-top: 5%;;
}